- id = @m[:id]
%h4
  =@m[:name]
  %aside
    %p="(id: #{id})"
%hr

%form{method: "POST", action: "/task/v1/upload_material_file", enctype: "multipart/form-data"}
  %fieldset
    %legend Select File to Upload
    %input{type: "file", name: "file"}
    Rename:
    %input{type: "text", name: "filename"}
    %input{type: "submit", value: "Upload File"}
    %input{type: "hidden", name: "mid", value: id}

%hr

- for fn in Dir.entries("./material/#{id}/")
  - next if fn[0] == "."
  %p
  %a{onclick: "toggle_file('#{fn}')"}
    =fn
  %aside
    %a{href: "/file/material/#{id}/#{fn}"} download

  %div{id: fn, style: "display: none"}
    - if ["png", "jpeg", "jpg", "gif"].include?(fn.split(".").last.downcase)
      %p
        %img{src: "/file/material/#{id}/#{fn}"}
    - else
      %pre
        - if File.binary?("material/#{id}/#{fn}")
          < BINARY FILE >
        - else
          =File.read("material/#{id}/#{fn}")

:javascript
  function toggle_file(fn) {
    var div = document.getElementById(fn)
    if (div.style.display == "none") {
      div.style.display = "block"
    } else {
      div.style.display = "none"
    }
  }
