%h4
  Update Code

- params = @code["params"] || {}

%form{method: "POST", action: "/task/v1/update_code"}
  %h5 Base
  %table
    %tr
      %td Name (cname)
      %td
        %input{type: "text", name: "cname", value: @cname, required: "required"}
      %td Description

    %tr
      %td Option
      %td        
        - checked = !!params["enable"]
        %input{type: "checkbox", name: "enable", value: "enable", checked: checked} Enable
      %td{rowspan: 4}
        %textarea{name: "description", cols: "40", rows: "4", required: "required"}
          = params["description"] || ""
    %tr
      %td CPU Cores
      %td
        %select{name: "cores"}        
          %option{value: "1", selected: params["cores"] == "1"} 1 Core
          %option{value: "24", selected: params["cores"] == "24"} 24 Cores

  %h5 Run

  %table
    %tr
      %td{colspan: 2} Input
    %tr
      %td{colspan: 2}
        %textarea{name: "input", cols: 80, rows: 6, style: "OVERFLOW: visible"}
          = params["input"] || ""
    %tr
      %td{colspan: 2} Entrance
    %tr
      %td{colspan: 2}
        %textarea{name: "entrance", cols: 80, rows: 6, style: "OVERFLOW: visible"}      
          = params["entrance"] || ""
    %tr
      %td Output
      %td Property
    %tr 
      %td
        %textarea{name: "output", cols: 40, rows: 6, style: "OVERFLOW: visible"}
          = params["output"] || ""
      %td
        %textarea{name: "property", cols: 40, rows: 6, style: "OVERFLOW: visible"}
          = params["property"] || ""

  %input{type: "submit", value: "Submit Code"}
