%form{method: "get", action: "/work/#{@user.name}/materials"}  
  Create Collection:
  %input{type: "text", name: "cid"}

%h4
  Material Collections

%ol  
- for name, ids in @user.material_collections
  %li
    %a{href: "/work/#{@user.name}/materials?cid=#{name}"}
      ="#{name} (#{ids.size})"
    %aside
      %a{href: "/task/v1/update_collection?cid=#{name}"}
        Delete