%p
  %code Use 'user.cid' to copy a collection.

%form{method: "get", action: "/work/#{@user.name}/materials"}  
  Create Collection:
  %input{type: "text", name: "cid"}

%h4
  Material Collections

%ol  
- for cid, ids in @user.material_collections
  %li
    %a{href: "/work/#{@user.name}/materials?cid=#{cid}"}
      ="#{cid} (#{ids.size})"
    %aside
      %a{href: "/task/v1/update_collection?cid=#{cid}"}
        delete