%h4
  Works:
  %ul
    %li
      %a{href: "/work/#{@user.name}/insert_material"} Insert Material
    %li
      %a{href: "/work/#{@user.name}/private_material"} Private Material
    %li
      %a{href: "/work/#{@user.name}/material_collection"} Material Collection
    %li
      %a{href: "/work/#{@user.name}/calculation_code"} Calculation Code
    %li
      %a{href: "/work/#{@user.name}/shared_file"} Shared File
    %li
      %a{href: "/work/#{@user.name}/task_tree"} Task Tree
    %li
      %a{href: "/work/#{@user.name}/calculation_plan"} Calculation Plan

%h4
  Calculation Plans:
  %ol
    - for pid, comment in @user.calculation_plans
      %li
        %a
          =comment + " (#{pid})"

- if @user.name == "admin"
  %h4
    Admin:
    %ul
      %li
        %a{href: "/work/admin/active_keys"} Insert Active Keys
